@model IEnumerable<NIDO_TimeAttandance_MVC.Areas.Payroll.Models.PaySlipModel>

@{
    ViewBag.Title = "GeneratePaySlip";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<link href="~/Assests/PaySlip.css" rel="stylesheet" />
<div>test</div>