
@{
    ViewBag.Title = "Error_404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Theme CSS -->
<link rel="stylesheet" href="~/Assests/Dashboard/assets/stylesheets/theme.css" />

<!-- Skin CSS -->
<link rel="stylesheet" href="~/Assests/Dashboard/assets/stylesheets/skins/default.css" />
<div class="inner-wrapper">
    <section role="main" class="content-body">
        <!-- start: page -->
        <section class="body-error error-inside">
            <div class="center-error">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-error mb-xlg">
                            <h2 class="error-code text-dark text-center text-semibold m-none">404 <i class="fa fa-file"></i></h2>
                            <p class="error-explanation text-center">We're sorry, you haven't right to access this page.</p>
                            <p class="error-explanation text-center">Please contact <a href="http://nedogroup.com/">Nedo Corporation</a> for support.</p>
                        </div>
                    </div>                
                </div>
            </div>
        </section>
        <!-- end: page -->
    </section>
</div>