
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>

    h1 {
        margin-top: 20px;
    }

    .container, h1 {
        text-align: center;
    }
</style>

<div >
    <h1>Datepicker in Bootstrap Modal Example</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-target="#modal" data-toggle="modal">
        Launch the demo
    </button>
    <!-- Modal -->
    <div class="modal fade" id="modal"  >
        <div class="modal-dialog" role="document">
            <div class="modal-content"> 
                    <div class="input-daterange input-group" data-plugin-datepicker>
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" class="form-control abc" name="start">
                        <span class="input-group-addon">to</span>
                        <input type="text" class="form-control abc" name="end">
                    </div>
               

              

                <div class="form-group">
                    <label class="col-md-3 control-label">Multiple dates</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" data-toggle="datepicker" data-plugin-datepicker data-plugin-options='{ "multidate": true }' class="form-control">
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>
</div>



<script src="~/Assests/js/datepicker.js"></script>
<script>
    $(function () {
        $('.abc').datepicker({
            autoHide: true,
            zIndex: 2048,
        });
    });</script>

